body {
    background-color: #eefefe;
    position: relative;
}
.content {
    border: 1px gray solid;
    max-width: 800px;
    display: flex;
    position: absolute;
    right: 20%;
}
.content>*>* {
    padding: 10px;
    margin: 10px;
    min-width: 50px;
}
